@using System.Data;
@model DataTable;

@{DataRow dr = Model.Rows[0];}
<h2>INFO OF PRODUCTS</h2>
<h3>@dr["Name"]</h3>
<h3>@dr["Id"]</h3>
<h3>@dr["Price"]</h3>
<h3>@dr["Stock"]</h3>
<br>
@Html.ActionLink("Back to List", "List");
<br>
