@model IEnumerable<EMS.Models.Department>
<h1> This is Department List </h1>
<hr>
<h1>
    @Html.ActionLink("AddDepartment","Create")
</h1>
<hr>

<table class='table'>

    <thead>
        @* <th>@Html.DisplayNameFor(d=>d.Id)</th> *@
        <th>Id</th>

        <th>@Html.DisplayNameFor(d=>d.DeptName)</th>

        <th>@Html.DisplayNameFor(d=>d.Location)</th>
    </thead>

    <tbody>
        @foreach (var Dept in @Model){

            <tr>
                <td>
                    @Dept.Id</td>
                <td>
                    @Dept.DeptName
                </td>
                <td>
                    @Dept.Location
                </td>
                
                <td>

                    @Html.ActionLink("Details","Display",new {id=Dept.Id}) &nbsp;&nbsp;

                    @Html.ActionLink("Edit","Edit",new {id=Dept.Id}) &nbsp;&nbsp;

                    @Html.ActionLink("Delete","Delete",new {id=Dept.Id}) &nbsp;&nbsp;

                </td>

            </tr>
        }

    </tbody>

</table>


